{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Log In INFN AAI" %}{% endblock %}
{% block modal_class %}loginAAI {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}/Shibboleth.sso/Login?entityID=https%3A%2F%2Fidp.infn.it%2Ftesting%2Fsaml2%2Fidp%2Fmetadata.php{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}

{% block modal-body %}
  <fieldset>
    Click the box below to login into Openstack with your INFN-AAI credentials
    <br/><br/>
    <img align="middle" height="60px" width="80x" alt="Login Infn AAI" src="/static/dashboard/img/logoInfnAAI.png">
  </fieldset>
{% endblock %}

{% block modal-footer %}
  <button type="submit" class="btn btn-primary pull-right">{% trans "Sign In" %}</button>
{% endblock %}

