{% load i18n %}

<div id="register_div_id" class="register{% if hide %} modal hide{% endif %}">
    <div class="modal-header">
        {% if hide %}<a href="#" class="close" data-dismiss="modal">&times;</a>{% endif %}
        <h3>{% trans "User Registration" %}</h3>
    </div>
    
    {% if table %}
    <div class="modal-body">
        {{ table.render }}
    </div>
    
    <hr />
    {% endif %}
    
    <form id="register_form_id" autocomplete="{{ HORIZON_CONFIG.password_autocomplete }}" class="" 
        action="{{ form_action_url }}" method="POST">
        
        {% csrf_token %}
        
        <div class="modal-body clearfix">
            <fieldset>
    
                {% if userid %}
                <label>User ID</label>
                <p>{{userid}}</p>
                {% endif %}
        
                {% include "horizon/common/_form_fields.html" %}
                
                <button type="button"
                        onclick="document.getElementById('aupdiv').style.display='block';"
                        class="btn btn-primary pull-right">
                    {% trans "Read the AUP" %}
                </button>
                
            </fieldset>
        </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right">{% trans "Register" %}</button>
            <button type="button"
                    onclick="location.href='/dashboard'"
                    class="btn btn-primary pull-right">{% trans "Cancel" %}</button>
        </div>
        
        <div id="aupdiv" style="display: none;">
        
            <div class="modal hide in" style="top: 80px; display: block;">
                <div class="modal-header"><h3>{% trans "Access User Policies" %}</h3></div>
                
                <div class="modal-body clearfix">
                    <ul>
                        
                        <li>
                            {% blocktrans %}
                            The undersigned declares to accept the access user policies
                            reported in the page http://www.pd.infn.it/calcolo ...
                            {% endblocktrans %}
                        </li>
                        
                        <li>
                            {% blocktrans %}
                            The undersigned commits to use the available resources only for ...
                            {% endblocktrans %}
                        </li>
                        
                        <li>
                            {% blocktrans %}
                            The undersigned declares it will be the only user of ...
                            {% endblocktrans %}
                        </li>
                    </ul>
                </div>
                
                <div class="modal-footer">
                    <button type="button"
                            onclick="acceptAUP()"
                            class="btn btn-primary pull-right">{% trans "Accept" %}</button>
                    <button type="button"
                            onclick="document.getElementById('aupdiv').style.display='none';"
                            class="btn btn-primary pull-right">{% trans "Reject" %}</button>
                </div>

            </div>

            <div class="modal-backdrop in"></div>
            
        </div>
        
    </form>

    <script type="text/javascript">
        function acceptAUP() {
            document.getElementById('id_aupok').value = 'accept';
            document.getElementById('aupdiv').style.display='none';
        }
    </script>
    
</div>



