{% extends "500.html" %}
{% load i18n branding %}

{% block text %}
    <h2>{{ error_header }}</h2>
    <p>{{ error_text }}</p>
    
    {% if contacts %}
        <p>{% trans "Please, contact the cloud managers:" %}</p>
        <ul>
        {% for item in contacts %}
            <li><a href="mailto:{{ item.1 }}">{{ item.0 }}</a></li>
        {% endfor%}
        </ul>
    {% endif%}
    
{% endblock %}

{% block links %}
    <p><a href={{ redirect_url }}>{{ redirect_label }}</a></p>
{% endblock %}

