{% load i18n branding %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% trans "Register" %} - {% site_branding %}</title>
        {% compress css %}
        <link href='{{ STATIC_URL }}dashboard/less/aai_infn_integrations.less' type='text/less' media='screen' rel='stylesheet' />
        <link href='{{ STATIC_URL }}dashboard/less/horizon.less' type='text/less' media='screen' rel='stylesheet' />
        <link href='{{ STATIC_URL }}dashboard/less/rickshaw.css' type='text/css' media='screen' rel='stylesheet' />
        <link href='{{ STATIC_URL }}dashboard/less/horizon_charts.less' type='text/less' media='screen' rel='stylesheet' />
        {% endcompress %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>
    </head>

    <body id="registration">
        <div class="container">
            <div class="row large-rounded">
                {% include "_register_form.html" %}
            </div>
        </div>
    </body>
</html>

