{% load i18n branding %}
{% load compress %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% trans "Login" %} - {% site_branding %}</title>
        {% compress css %}
        <link href='{{ STATIC_URL }}dashboard/less/horizon_login_with_aai.less' type='text/less' media='screen' rel='stylesheet' />
        <link href='{{ STATIC_URL }}dashboard/less/rickshaw.css' type='text/css' media='screen' rel='stylesheet' />
        <link href='{{ STATIC_URL }}dashboard/less/horizon_charts.less' type='text/less' media='screen' rel='stylesheet' />
        {% endcompress %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>
    </head>

    <body id="splash">
        <div class="container">
            <div class="row large-rounded">
                {% include 'auth/_loginAAI.html' %}
            </div>
            <div class="row large-rounded">
                {% include 'auth/_login.html' %}
            </div>
        </div>
    </body>
</html>

